/* mobile */
@media (max-width: 550px) {
	#container {
        width: 100%;
		grid-template-columns: 3fr;
		grid-template-areas: 
			"header"
            "menu"
			"post"
			"main"
			"login"
			"sign-up";
	}
    
    #menu-list {
		justify-content: space-around;
		flex-direction: row;
		align-items: center;  
    }
    
    #menu-list li {
		margin-left: 0;
        font-size: 30px;
	}
}

/* tablet */
@media (min-width: 401px) and (max-width: 800px) {
	#container {
		width: 100%;
		grid-template-areas: 
			"menu menu menu"
			"header main main"
			"sign-up login post";
	}


    #menu-list {
		justify-content: space-between;
	}

	#menu-list li {
		margin-left: 0;	
	}
}