@import url('https://fonts.googleapis.com/css?family=B612|PT+Sans+Narrow|PT+Serif+Caption');

body{
    font-size: 25px;
    line-height: 1.25;
    background-color: brown
}

#title{
    color:gold;
    font-size: 40px;
    text-shadow: 6px 1px 0 black; 
}

#login *, #sign-up *,#post *{
}

#posts{
    font-family:'PT Sans Narrow', sans-serif; ;
}



#menu{
    font-family:sans-serif;
    text-shadow: 1px 1px black;
}

#menu a{
    color:whitesmoke;
    font-size:20px;
    
}

#write-post{
	width: 80%;
	padding: 1em;
}

.post{
    margin: 1em ;
}

.post-text{
    font-size: 1.2em;
    padding: 0.5em;
}

.author{
    color: darkblue;
    font-weight: 600;
    text-decoration: underline;
    font-family: monospace;
}

.date{
    color:ghostwhite;
}

/*mobile*/
@media (max-width: 400px) {
    
    .post-text{
    font-size: 1.5em;
    margin-left: .5em;
    margin-right: 1em;
    margin-bottom: .6em;
}
    
    .post-info{
        font-size: 1.2em;
        margin-left:.6em;
    }
    
    
    
    .date{
        margin-left:.6em ;
    }
    
       #write-post{
        font-size: 20px;
        font-weight: 800;
}
    
    
}

/*tablet*/
@media(min-width:401px) and (max-width:800px){
    
    #title{
        font-size:2em;
        margin: -1em;
        margin-bottom:-100%;
    }
    
    #write-post{
        font-size: 1em;
        font-weight: 800;
}
    
     .post-text{
        font-size:30px;
        margin-bottom: 0px;
        margin-left: -30px;
}
    .post-info{
        font-size: 20px;
    }   
}
