#container {
    width: 960px;
    margin-left: auto;
    margin-right: auto;
    
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, max-content);
    grid-gap: 1em;
    
    grid-template-areas: 
        "login header menu"
        "sign-up sign-up post"
        "main main post";
}

#title {
    grid-area: header;
    background-color: beige;
}

#menu {
    grid-area: menu;
    background-color:beige;
    text-align: right;
}

#login {
    grid-area: login;
    background-color: black;
}

#sign-up {
    grid-area: sign-up;
    background-color: whitesmoke;
}

#posts {
    grid-area: main;
    background-color: bisque;
}

#post {
    grid-area: post;
    background-color: whitesmoke;
}

div{
    text-align: center;
    color: brown;
}

a{
    font-size: 30px;
    color: brown;
}


