#container{
    background-color: red;
    width: 700px;
    height: 500px;
    margin-left: auto;
    margin-right: auto;
    
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat (4, max-content);
    grid-gap: 5em;
    
    grid-template-areas:
        " header header signup login"
        " blank menu menu b"
        "blank post post post"
        " posts posts posts posts";
}

#title{
    grid-area: header;
}

#menu{
    grid-area:menu;
}

#login{
    grid-area:login;
}

#sign-up{
    grid-area:signup;
}

#post{
    grid-area:post;
}

#posts{
    grid-area: posts;
}

ul{
    list-style-type: none;
}

li{
    float: left;
    overflow: hidden;
    font-size: 80px;
    margin: 0;
    padding: 0;
}

a{
    text-decoration: none;
}

h1{
    font-size: 56px;
    color: azure;
}
div{
    font-size: 50px;
}
